@model MinStat.AnalizeUI.Models.CreateEnterpriseModel
@{
    ViewBag.Title = "Index";
}
<div class="alert alert-info">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">
        Памятка!</h4>
    Для того, чтобы добавить новое предприятие в систему, укажите федеральный округ
    и субъект федерации. После этого нажмите на кнопку <span class="btn btn-success">Показать
        предприятия</span>.
</div>
@using (Html.BeginForm("Index", "Administration", FormMethod.Get))
{
    <div style="display: table;">
        <div style="display: table-row; font-weight:bold;">
            <div style="display: table-cell;">
                Федеральный округ:</div>
            <div style="display: table-cell; padding-left:10px;">
                Субъект Федерации:</div>
            <div style="display: table-cell; padding-left:10px;">
            </div>
        </div>
        <div style="display: table-row;">
            <div style="display: table-cell; vertical-align: top;">
                @Html.DropDownList("federalDistrictId", new SelectList(ViewBag.FederalDistricts, "Key", "Value", @ViewBag.SelectedFederalDistrictId),
        new { rel = "popover", data_content = "Если хотите отфильтровать данные по федеральному округу, то укажите один из округов ниже.", data_original_title = "Федеральный округ" })
            </div>
            <div style="display: table-cell; padding-left:10px; vertical-align: top;">
                <select id="federalSubjectId" name="federalSubjectId" rel="popover" data-content="Если хотите отфильтровать данные по субъекту федерации, то укажите один из субъектов ниже. Для отображения списка субъектов федерации необходимо указать федеральный округ."
                    data-original-title="Субъект федерации">
                </select>
            </div>
            <div style="display: table-cell; padding-left:10px; vertical-align: top;">
                <input type="hidden" id="selectedFederalSubject" value="@ViewBag.SelectedFederalSubjectId"/>
                <input type="submit" value="Показать предприятия" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Create", "Administration"))
{
    if (@ViewBag.SelectedFederalSubjectId != null && @ViewBag.SelectedFederalSubjectId != 0)
    {
    <a class="btn btn-info" data-toggle="modal" href="#myModal">Добавить предприятие</a>

    <div class="modal hide" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×</button>
            <h3>
                Добавление предприятия</h3>
        </div>
        <div class="modal-body">
            <p>
                <input type="hidden" name="federalSubjectId" id="federalSubjectId" value="@ViewBag.SelectedFederalSubjectId"/>
                <input type="hidden" name="federalDistrictId" id="federalDistrictId" value="@ViewBag.SelectedFederalDistrictId"/>
                <span class="field-validation-error" data-valmsg-replace="true" data-valmsg-for="title">
                <span class="" for="title" generated="true" style="font-weight:bold;">
                </span>
                </span> Название предприятия:<br />
                <input type="text" name="title" id="title" class="text-box single-line input-validation-error" data-val-required="Необходимо указать" data-val="true"><br />
                Электронная почта контактного лица <span class="field-validation-error" data-valmsg-replace="true" data-valmsg-for="mail">
                <span class="" for="mail" generated="true" style="font-weight:bold;">
                </span>
                </span>:<br />
                <input type="text" name="mail" id="mail" class="text-box single-line input-validation-error" data-val-required="не может быть пустым" data-val="true" data-val-regex-pattern="@Html.Raw("^[a-z0-9_\\+-]+(\\.[a-z0-9_\\+-]+)*@[a-z0-9-]+(\\.[a-z0-9-]+)*\\.([a-z]{2,4})$")" data-val-regex="введена неправильно" ><br />
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Отмена</a>
            <input type="submit" class="btn btn-primary" value="Добавить"></input>
        </div>
    </div>
    }
}
<table class="table">
    @foreach (var enterprise in Model.Enterprises)
    {
        <tr>
            <td>
                @enterprise.Title
            </td>
            <td style="width: 40px">
                @using (Html.BeginForm("Remove", "Administration"))
                {
                    <input type="hidden" name="federalSubjectId" id="federalSubjectId" value="@ViewBag.SelectedFederalSubjectId"/>
                    <input type="hidden" name="federalDistrictId" id="federalDistrictId" value="@ViewBag.SelectedFederalDistrictId"/>
                    <input type="hidden" name="enterpriseId" id="enterpriseId" value="@enterprise.Id"/>
                    <input type="submit" class="btn btn-danger" value="Удалить"></input>
                }
            </td>
        </tr>
    }
</table>
