@using Bonch.Domain.POCO
@model IEnumerable<StatisticDataItem>
@{
    ViewBag.Title = "List";
}

@Html.Action("Selectors")

<table  class="table table-bordered">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td><input type="checkbox" /></td>
<td></td>
</tr>
    @foreach (StatisticDataItem item in Model)
    { 
        <tr>
            <td>@item.Part_1
            </td>
            <td>@item.Part_2
            </td>
            <td>@item.Part_3
            </td>
            <td>@item.Part_4
            </td>
            <td>@item.Part_5
            </td>
            <td style="width:550px;">@item.Title
            </td>
            <td style="width:30px;">@item.j1_e1
            </td>
            <td style="width:30px;">@item.j1_e2
            </td>
            <td style="width:30px;">@item.j1_e3
            </td>
            <td style="width:30px;">@item.j2_e1
            </td>
            <td style="width:30px;">@item.j2_e2
            </td>
            <td style="width:30px;">@item.j2_e3
            </td>
            <td style="width:30px;">@item.j3_e1
            </td>
            <td style="width:30px;">@item.j3_e2
            </td>
            <td style="width:30px;">@item.j3_e3
            </td>
            <td style="width:30px;">@item.j4_e1
            </td>
            <td style="width:30px;">@item.j4_e2
            </td>
            <td style="width:30px;">@item.j4_e3
            </td>
            <td><input type="checkbox" /></td>
        </tr>
    }
</table>
