@using MinStat.AnalizeUI.Models
@model IEnumerable<StatisticDataModel>
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">
            Памятка!</h4>
        Для того, чтобы отобразить таблицу укажите критерии отбора.
    </div>
    <div style="display: table; width:100%;">
        <div style="display: table-row">
            <div style="display: table-cell; vertical-align: top;">
                @Html.DropDownList("federalDistrictId", new SelectList(ViewBag.FederalDistricts, "Key", "Value"),
        new { rel = "popover", data_content = "Если хотите отфильтровать данные по федеральному округу, то укажите один из округов ниже.", data_original_title = "Федеральный округ" })
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <select id="federalSubjectId" name="federalSubjectId" rel="popover" data-content="Если хотите отфильтровать данные по субъекту федерации, то укажите один из субъектов ниже. Для отображения списка субъектов федерации необходимо указать федеральный округ."
                    data-original-title="Субъект федерации">
                </select></div>
            <div style="display: table-cell; vertical-align: top;">
                <input type="hidden" id="selectedFederalSubject" value="@ViewBag.SelectedFederalSubjectId"/>
                <select id="enterpriseId" name="enterpriseId" rel="popover" data-content="Если хотите отфильтровать данные по предприятию, то укажите одно из предприятий ниже. Для отображения списка предприятий необходимо указать субъект федерации."
                    data-original-title="Предприятие">
                </select>
                <input type="hidden" id="selectedEnterprise" value="@ViewBag.SelectedEnterpriseId"/></div>
            <div style="display: table-cell; vertical-align: top;">
                <div class="input-append date" id="dpstart" data-date="@ViewBag.StartDate" data-date-format="dd.mm.yyyy">
                    <input class="span2" size="16" type="text" value="@ViewBag.StartDate" readonly id="startDate" name="startDate">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <div class="input-append date" id="dpend" data-date="@ViewBag.EndDate" data-date-format="dd.mm.yyyy">
                    <input class="span2" size="16" type="text" value="@ViewBag.EndDate" readonly id="endDate" name="endDate">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div style="display: table-cell; vertical-align: top;">
                    <input type="submit" value="Таблица" class="btn btn-success" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dpstart').datepicker();
            $('#dpend').datepicker();
        });
    </script>
    
@* <input type="text" id="startDate" name="startDate" value="2012-01-01" />*@
@*  <input type="text" id="endDate" name="endDate" value="2012-07-21" />*@
   
    <div class="modal hide" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×</button>
            <h3>
                Выберите тип отчета</h3>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#static" data-toggle="tab">Статический отчет</a></li>
                <li><a href="#dynamic" data-toggle="tab">Динамический отчет</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="static">
                    <p>
                        В этом отчете вы сможете посмотреть статические количественные данные по указанным
                        фильтрам.</p>
                </div>
                <div class="tab-pane fade" id="dynamic">
                    <p>
                        В этом отчете вы сможете посмотреть динамичемие количественные данные по указаным
                        фильтрам.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Отмена</a> <a href="#" id="createReport"
                class="btn btn-primary">Создать отчет</a>
        </div>
    </div>

}
@foreach (StatisticDataModel m in Model)
{
    using (Html.BeginForm("CustomReport", "FullReport"))
    {
    @Html.Hidden("reportType")
    <table class="table-striped table-bordered table-condensed">
        <tr>
            <td>
            </td>
            @foreach (var headItem in m.Titles)
            {
                if (!String.IsNullOrEmpty(headItem.Key))
                {
                <td style="text-align:center;">
                    @Html.CheckBox(String.Format("horizontal_{0}", headItem.Key))
                </td>
                }
            }
            <td>
                <a data-toggle="modal" href="#myModal" class="btn btn-success">Отчет</a>
            </td>
        </tr>
        <tr>
            @foreach (var headItem in m.Titles)
            {
                <th>@headItem.Value
                </th>
            }
            <th>
            </th>
        </tr>
        @foreach (StatisticDataItemModel bodyItem in m.Values)
        {
            <tr class="@String.Format("strong{0}", bodyItem.BoldLevel)">
                <td>@bodyItem.Title
                </td>
                @foreach (var value in bodyItem.Values)
                {
                    @Html.Raw(value == "0" ? "<td class=\"muted\">" : "<td>")
                    @value
                    @Html.Raw("</td>")
                }
                <td>
                    @if (bodyItem.BoldLevel == 0)
                    {
                        @Html.CheckBox(String.Format("vertical_{0}", bodyItem.Id))
                    }
                </td>
            </tr>
        }
    </table>
    }
}
