@using MinStat.AnalizeUI.Models
@model IEnumerable<StatisticDataModel>
@{
    ViewBag.Title = "DynamicStatisticData";
}
@foreach (StatisticDataModel m in Model)
{
    if (m != null && m.Values != null && m.Values.Any())
    {
    <table class="table-striped table-bordered table-condensed">
        <tr>
            @foreach (var headItem in m.Titles)
            {
                <th>@headItem.Value
                </th>
            }
        </tr>
        @foreach (StatisticDataItemModel bodyItem in m.Values)
        {
            <tr class="@String.Format("strong{0}", bodyItem.BoldLevel)">
                <td>@Html.Raw(bodyItem.Title)
                </td>
                @foreach (string value in bodyItem.Values)
                {
                    @Html.Raw(value == "0" ? "<td class=\"muted\">" : "<td>")
               
                    @value
                    @Html.Raw("</td>")
               
                }
            </tr>
        }
    </table>
    @Html.Partial("DynamicDiagram", m)
    
    }
    else
    {
    <strong>Данные по Вашему запросу отсутствуют.</strong>
    }
}
