@using MinStat.AnalizeUI.Models
@model IEnumerable<StatisticDataModel>
@foreach (StatisticDataModel m in Model)
{
    @Html.Partial("ReportMetaData", m)
    
if (m != null && m.Values != null && m.Values.Any())
{
    <table class="table-striped table-bordered table-condensed">
        <tr>
            @foreach (var headItem in m.Titles)
            {
                <th>@headItem.Value
                </th>
            }
        </tr>
        @foreach (StatisticDataItemModel bodyItem in m.Values)
        {
            <tr class="@String.Format("strong{0}", bodyItem.BoldLevel)">
                <td>
                    @Html.Raw(bodyItem.Title)
                </td>
                @foreach (string value in bodyItem.Values)
                {
                    @Html.Raw(value == "0" ? "<td class=\"muted\" style=\" text-align:center;\">" : "<td style=\" text-align:center;\">")
                    @value
                    @Html.Raw("</td>")
                }
            </tr>
        }
    </table>
        if (ViewBag.RenderGraphic != null && ViewBag.RenderGraphic)
        {
    <br />
    <br />
    
    @Html.Partial("StaticDiagram", m)
        }
}
else
{
    <strong>Данные по Вашему запросу отсутствуют.</strong>
}

}
<footer class="footer">
            Отчет составлен Информационно-аналитической системой управления балансом трудовых
            ресурсов отрасли связи, информационных технологий и массовых коммуникаций</footer>
