@using Bonch.WebUI.Models
@model IEnumerable<HistoryPointViewModel>

<div>
@foreach (HistoryPointViewModel hp in Model)
{
    <div class="post">
        <p class="meta">
            <span class="date">@hp.Date</span>&nbsp;<span>@hp.Author</span></p>
        <h2 class="title">
            <span>@hp.ActionType</span>
        </h2>
        <div class="entry">
            <p>@hp.Description
                </p>
            <p>@hp.CustomDescription
                </p>

        </div>
    </div>
}
</div>
