@using MinStat.AnalizeUI.Models
@model SummaryReportCreatorModel
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">
            Памятка!</h4>
        Для того, чтобы отобразить таблицу укажите условия отбора.
    </div>
    <div style="display: table; width: 100%;">
            <div style="display: table-row; font-weight:bold;">
            <div style="display: table-cell">Фед. округ</div>
            <div style="display: table-cell">Субъект Фед.</div>
            <div style="display: table-cell">Предприятие</div>
            <div style="display: table-cell">Дата</div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell; vertical-align: top;">
                @Html.DropDownList("federalDistrictId", new SelectList(ViewBag.FederalDistricts, "Key", "Value"),
                         new { rel = "popover", data_content = "Если хотите отфильтровать данные по федеральному округу, то укажите один из округов ниже.", data_original_title = "Федеральный округ" })
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <select id="federalSubjectId" name="federalSubjectId" rel="popover" data-content="Если хотите отфильтровать данные по субъекту федерации, то укажите один из субъектов ниже. Для отображения списка субъектов федерации необходимо указать федеральный округ."
                    data-original-title="Субъект федерации">
                </select>
                <input type="hidden" id="selectedFederalSubject" value="@ViewBag.SelectedFederalSubjectId"/>
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <select id="enterpriseId" name="enterpriseId" rel="popover" data-content="Если хотите отфильтровать данные по предприятию, то укажите одно из предприятий ниже. Для отображения списка предприятий необходимо указать субъект федерации."
                    data-original-title="Предприятие">
                </select>
                <input type="hidden" id="selectedEnterprise" value="@ViewBag.SelectedEnterpriseId"/>
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <div class="input-append date" id="dpend" data-date="@ViewBag.EndDate" data-date-format="dd.mm.yyyy">
                    <input class="span2" size="16" type="text" value="@ViewBag.EndDate" readonly id="endDate" name="endDate">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dpstart').datepicker();
            $('#dpend').datepicker();
        });
    </script>
    <div id="navbarExample" class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <div class="brand">
                    Выберите виды деятельности</div>
            </div>
        </div>
    </div>
    @Html.ValidationSummary()
    <div class="well scroll">
        <table class="table">
            @foreach (ActivityModel activity in Model.Activities)
            {
                <tr class="@Html.Raw(activity.Part_5 == 0 && activity.Part_4 != 0 ? "strong1" : activity.Part_5 == 0 && activity.Part_4 == 0 ? "strong2" : "")">
                    <td class="withcheckbox">
                        @if (activity.Part_5 == 0 && activity.Part_4 == 0)
                        {
                            <td class="withcheckbox">
                                @Html.CheckBox(String.Format("activitycheckbox_{0}", activity.Id), false, new { data_checkboxlevel = "twozeros" })
                            </td>
                        }
                        else if (activity.Part_5 == 0 && activity.Part_4 != 0)
                        {
                            <td class="withcheckbox" style="padding-left: 20px;">
                                @Html.CheckBox(String.Format("activitycheckbox_{0}", activity.Id), false, new { data_checkboxlevel = "onezero" })
                            </td>
                        }
                        else
                        {
                            <td class="withcheckbox" style="padding-left: 33px;">
                                @Html.CheckBox(String.Format("activitycheckbox_{0}", activity.Id), new { data_checkboxlevel = "actual" })
                            </td>
                        }
                    </td>
                    <td>@String.Format("{0}.{1}{2}.{3}{4}", activity.Part_1, activity.Part_2, activity.Part_3, activity.Part_4, activity.Part_5)
                    </td>
                    <td>@activity.Title
                    </td>
                </tr>
            }
        </table>
    </div>
    
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">
            Памятка!</h4>
        Для отображения количественных данных укажите условия фильтрации.<br />
        Если не будет выбран ни один пункт, то отчет покажет данные по всем условиям.
    </div>
    <div id="navbarExample" class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <div class="brand">
                    Выберите условия фильтрации</div>
            </div>
        </div>
    </div>
    <div class="well scroll">
        <table class="table">
            <tr style="font-weight: bold;">
                <td style="width: 30px;">
                </td>
                <td>
                    Пол: 
                </td>
            </tr>
            <tr>
                <td>@Html.CheckBox("gendercheckbox_0")
                </td>
                <td>
                    Женщины
                </td>
            </tr>
            <tr>
                <td>@Html.CheckBox("gendercheckbox_1")
                </td>
                <td>
                    Мужчины
                </td>
            </tr>
            <tr style="font-weight: bold;">
                <td>
                </td>
                <td>
                    Образование: 
                </td>
            </tr>
            @foreach (var education in Model.EducationLevels)
            {
                <tr>
                    <td>@Html.CheckBox(String.Format("educationlevelcheckbox_{0}", education.Key))
                    </td>
                    <td>@education.Value
                    </td>
                </tr>
            }
            <tr style="font-weight: bold;">
                <td>
                </td>
                <td>
                    Категория: 
                </td>
            </tr>
            @foreach (var post in Model.PostLevels)
            {
                <tr>
                    <td>@Html.CheckBox(String.Format("postlevelcheckbox_{0}", post.Key))
                    </td>
                    <td>@post.Value
                    </td>
                </tr>
            }
        </table>
    </div>
    <input type="submit" value="Создать Отчет" class="btn btn-success pull-right" name="report" />
}
