@using MinStat.AnalizeUI.Models
@model ConsolidateReportCreatorModel
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">
            Памятка!</h4>
        Для того, чтобы отобразить таблицу укажите критерии отбора.
    </div>
    <div style="display: table; width: 100%;">
        <div style="display: table-row">
            <div style="display: table-cell; vertical-align: top;">
                @Html.DropDownList("federalDistrictId", new SelectList(ViewBag.FederalDistricts, "Key", "Value"),
                         new { @class = "span2", rel = "popover", data_content = "Если хотите отфильтровать данные по федеральному округу, то укажите один из округов ниже.", data_original_title = "Федеральный округ" })
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <select class="span2" id="federalSubjectId" name="federalSubjectId" rel="popover"
                    data-content="Если хотите отфильтровать данные по субъекту федерации, то укажите один из субъектов ниже. Для отображения списка субъектов федерации необходимо указать федеральный округ."
                    data-original-title="Субъект федерации">
                </select>
                <input type="hidden" id="selectedFederalSubject" value="@ViewBag.SelectedFederalSubjectId"/>
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <select class="span2" id="enterpriseId" name="enterpriseId" rel="popover" data-content="Если хотите отфильтровать данные по предприятию, то укажите одно из предприятий ниже. Для отображения списка предприятий необходимо указать субъект федерации."
                    data-original-title="Предприятие">
                </select>
                <input type="hidden" id="selectedEnterprise" value="@ViewBag.SelectedEnterpriseId"/>
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <div class="input-append date" id="dpstart" data-date="@ViewBag.StartDate" data-date-format="dd.mm.yyyy">
                    <input class="span2" size="16" type="text" value="@ViewBag.StartDate" readonly id="startDate" name="startDate">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div style="display: table-cell; vertical-align: top;">
                <div class="input-append date" id="dpend" data-date="@ViewBag.EndDate" data-date-format="dd.mm.yyyy">
                    <input class="span2" size="16" type="text" value="@ViewBag.EndDate" readonly id="endDate" name="endDate">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dpstart').datepicker();
            $('#dpend').datepicker();
        });
    </script>
    
    <div id="navbarExample" class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <div class="brand">
                    Выберите виды деятельности</div>
            </div>
        </div>
    </div>
    
    <strong>@Html.ValidationMessage("noactivities")</strong>
    <div class="well scroll">
        <table class="table">
            @foreach (ActivityModel activity in Model.Activities)
            {
                <tr class="@Html.Raw(activity.Part_5 == 0 && activity.Part_4 != 0 ? "strong1" : activity.Part_5 == 0 && activity.Part_4 == 0 ? "strong2" : "")">
                    @if (activity.Part_5 == 0 && activity.Part_4 == 0)
                    {
                        <td class="withcheckbox">
                            @Html.CheckBox(String.Format("activitycheckbox_{0}", activity.Id), false, new { data_checkboxlevel = "twozeros" })
                        </td>
                    }
                    else if (activity.Part_5 == 0 && activity.Part_4 != 0)
                    {
                        <td class="withcheckbox" style="padding-left: 20px;">
                            @Html.CheckBox(String.Format("activitycheckbox_{0}", activity.Id), false, new { data_checkboxlevel = "onezero" })
                        </td>
                    }
                    else
                    {
                        <td class="withcheckbox" style="padding-left: 33px;">
                            @Html.CheckBox(String.Format("activitycheckbox_{0}", activity.Id), new { data_checkboxlevel = "actual" })
                        </td>
                    }
                    <td>@String.Format("{0}.{1}{2}.{3}{4}", activity.Part_1, activity.Part_2, activity.Part_3, activity.Part_4, activity.Part_5)
                    </td>
                    <td>@activity.Title
                    </td>
                </tr>
            }
        </table>
    </div>
    
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">
            Памятка!</h4>
        Нажмите на эту кнопку, для того чтобы создать статический отчет со сводными данными.
        Для корректного отображения необходимо указать виды деятельности.
    </div>
    <input type="submit" value="Статический отчет" class="btn btn-success pull-right"
        name="report" />
    <br />    <br />  
    <div id="navbarExample" class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <div class="brand">
                    Выберите критерии фильтрации</div>
            </div>
        </div>
    </div>
    <strong>@Html.ValidationMessage("nocriteries")</strong>
    <div class="well scroll">
        <table class="table">
            @foreach (FilterCriteryModel critery in Model.Criteries)
            {
                <tr style="font-weight: bold;">
                    <td style="width: 20px;">
                        @if (critery.Inner == null)
                        {
                            @Html.CheckBox(String.Format("filtercritery_{0}", critery.Key.Key))
                        }
                    </td>
                    <td>
                        @Html.Raw(critery.Key.Value)
                    </td>
                </tr>
                   if (critery.Inner != null)
                   {
                       foreach (var inner in critery.Inner)
                       {
                <tr>
                    <td>
                        @Html.CheckBox(String.Format("filtercritery_{0}", inner.Key))
                    </td>
                    <td>
                        @Html.Raw(inner.Value)
                    </td>
                </tr>
                       }
                   }
            }
        </table>
    </div>
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">
            Памятка!</h4>
        Нажмите на эту кнопку, для того чтобы создать динамический отчет со сводными данными.
        Для корректного отображения необхожимо указать виды деятельности и критерии фильтрации.
    </div>
    <input type="submit" value="Динамический отчет" class="btn btn-success pull-right"
        name="report" />
}
@*@foreach (StatisticDataModel m in Model)
{
    if (m != null)
    {
    <table class="table-striped table-bordered table-condensed">
        <tr>
            @foreach (var headItem in m.Titles)
            {
                <th>@headItem.Value
                </th>
            }
        </tr>
        @foreach (StatisticDataItemModel bodyItem in m.Values)
        {
            <tr class="@String.Format("strong{0}", bodyItem.BoldLevel)">
                <td>@bodyItem.Title
                </td>
                @foreach (string value in bodyItem.Values)
                {
                    @Html.Raw(value == "0" ? "<td class=\"muted\">" : "<td>")
               ;
                    @value
                    @Html.Raw("</td>")
               ;
                }
            </tr>
        }
    </table>
    }
}*@ 