@{
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    <div class="span12 alert alert-success">
        <div class="span2">
            <img src="@Url.Content("~/Content/img/logo.png")"  />
        </div>
        <div class="span10">
            <strong>Добро пожаловать в отраслевую информационно-аналитическую систему управления
                балансом трудовых ресурсов отрасли связи, информационных технологий и массовых коммуникаций
                "Кадры"</strong>
        </div>
    </div>
</div>
<div class="well">
    <strong>Стандартный отчет </strong>
    <br />
    <br />
    Стандартный отчет позволяет получить последние результаты (число работников, образование, категории работников, средний возраст, среднегодовой доход) по отрасли в целом, виду деятельности, федеральному округу, субъекту федерации или предприятию без учета видов деятельности.
    <br />
    <a href="help#standard" class="btn btn-info pull-right" style="margin-left:5px;">Справка</a>
    <div class="btn btn-primary dropdown pull-right" style="color:#FFFFFF;">
        <div class="dropdown-toggle" href="#" data-toggle="dropdown">Стандартные отчеты<b class="caret"></b></div>
        <ul class="dropdown-menu">
            <li><a data-toggle="modal" href="#chooseEnterpriseModal">Предприятие</a></li>
            <li><a data-toggle="modal" href="#chooseFederalSubjectModal">Субъект Федерации</a></li>
            <li><a data-toggle="modal" href="#chooseFederalDistrictModal">Федеральный округ</a></li>
            <li class="divider"></li>
            <li><a data-toggle="modal" href="#chooseActivityModal">Вид деятельности</a></li>
            <li class="divider"></li>
            <li><a href="#">@Html.ActionLink("Отрасль в целом", "Report", "Common")</a></li>
        </ul>
    </div>
    <br />
</div>
<div class="well">
    <strong>Базовый отчет </strong>
    <br />
    <br />
    Базовый отчет позволяет получить для отрасли, федерального округа, субъекта федерации или предприятия результаты, соответствующие задаваемому условию (образование и категории работников) по видам деятельности. На конкретную дату – <strong>статический отчет</strong>. В заданном интервале дат – <strong>динамический отчет</strong>.
    <br />
   <a href="help#base" class="btn btn-info pull-right" style="margin-left:5px;">Справка</a>

    @Html.ActionLink("Начать", "Index", "FullReport", null, new { @class = "btn btn-primary pull-right" })
    <br />
</div>
<div class="well">
    <strong>Сводный отчет </strong>
    <br />
    <br />
   Сводный отчет позволяет для выбранной отрасли, федерального округа, субъекта федерации или предприятия задавать сложные условия, по любым признакам (образование и категории работников) по видам деятельности. На конкретную дату – <strong>статический отчет</strong>. В заданном интервале дат – <strong>динамический отчет</strong>. 
   <br /><a href="help#common" class="btn btn-info pull-right" style="margin-left:5px;">Справка</a>

    @Html.ActionLink("Начать", "Index", "Consolidate", null, new { @class = "btn btn-primary pull-right" })
    <br />
</div>
<div class="well">
    <strong>Количественный отчет </strong>
    <br />
    <br />
    Количественный отчет позволяет получить для отрасли, федерального округа, субъекта федерации или предприятия результаты, соответствующие <strong>сложному условию</strong> (образование и категории работников) по видам деятельности на <strong>конкретную дату</strong>
    <br />
    <a href="help#summary" class="btn btn-info pull-right" style="margin-left:5px;">Справка</a>
    @Html.ActionLink("Начать", "Index", "Summary", null, new { @class = "btn btn-primary pull-right" })
    <br />
</div>
<div class="well">
    <strong>Добавить новое предприятие </strong>
    <br />
    <br />
    Для добавление нового предприятия, пройдите по следующей ссылке.
    <br />
    <a href="help#administration" class="btn btn-info pull-right" style="margin-left:5px;">Справка</a>
    @Html.ActionLink("Начать", "Index", "Administration", null, new { @class = "btn btn-primary pull-right" })
    <br />
</div>
